.bg-class{
    background-color: #12A3D9;
}
.navbar-list{
    display: flex;
    justify-content: space-around;
    background-color: #12A3D9;
    color: #fff;
}
.left-logo{
    text-align: center;
    align-items: center;
    padding-top: 10px;
}
.icon-image{
    width: 14px;
    height: auto;
    padding-right: 10px;
}
.content-list{
    display: flex;
    align-items: center;
}
.image{
margin-left: 10px;
}
.Fleets {
    margin-right: 100px;
}