.home-bg{
    background-color: #F9F9F9;
    padding: 20px;
}
.Customize{
    background-color: #EDEDED;
    text-align: center;
    margin: 0;
    padding: 5px;
}
.Campaign-input{
    background-color: #FAFAFA;
    margin: 10px;
    padding: 1px 20px 25px 20px;
}
.Campaign-text{
    margin: 0 !important;
    border-radius: 10px !important;
}
.opload-logo{
    text-align: center;
    align-items: center;
}
.avtar-banner{
    text-align: center;
    padding-left: 20px;
}
.upload-company-logo{
    position: relative;
}
.company-icon{
    position: absolute;
    left: 14%;
    top: 58%;
    background-color: #fff;
    border-radius: 50%;
    color: #5B5A5A;
}
.banner-logo{
    position: absolute;
    bottom: 34%;
    right: 5%;
    color: #5B5A5A;
}
.logo-icon{
    font-size: 17px !important;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
}
.avtar-banner-profile{
    text-align: center;
    padding-left: 40px;
    margin-top: 20px;
}
.border-right{
    border-right: 1px solid #DEDEDE;
    margin: 0 15px;
}
.top-margin{
    margin-top: 20px;
    margin-bottom: 30px;
}
.field-value{
    margin-right: 15px;
}
.save-btn{
    width: 20% !important;
    border-radius: 20px !important;
    margin: 20px !important;
    background-color: #21638B !important;
    color: #fff !important;
    font-weight: 600 !important;
}
.profile-icon{
    position: absolute;
    left: 13%;
    bottom: 0;
    background-color: #fff;
    border-radius: 50%;
    color: #5B5A5A;
}
.hr-line{
    width: 100%;
    height: fit-content;
    margin: 11px 0px 0px 15px;
}
.Prompt{
    display: flex;
    margin: 10px 0px 10px 0px;
    justify-content: center;
}
.multiple-select{
    width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  border-radius: 15px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  outline: none;
}
.MuiInput-underline:before{
    border-bottom: none !important;
}
.MuiInput-underline:after{
    border-bottom: none !important;
}
.Campaign-fleet{
    text-align: center;
    background-color: #FAFAFA;
    margin: 10px;
    padding: 1px 20px 25px 20px;
}
.start-record-btn{
    background-color: #EDC6C6 !important;
    border-radius: 50% !important;
    padding: 55px !important;
    margin: 20px !important;
    border: 1px solid grey!important;
}
.upolad-record-btn{
    background-color: #C6E1ED !important;
    border-radius: 50% !important;
    padding: 55px !important;
    margin: 20px !important;
    color: #fff !important;
    border: 1px solid grey!important;
}
.cloud-icon{
    font-size: 60px !important;
    color: #fff !important;
}
.start-record-btn:active{
    background-color: #D08E8E !important;
}
.start-record-btn:focus{
    background-color: #D08E8E !important;
}
.upolad-record-btn:active{
    background-color: #5C7F8D !important;
}
.upolad-record-btn:focus{
    background-color: #5C7F8D !important;
}
.video-content{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px !important;
    margin-top: 40px;
}
.Reload-btn{
    width: 20% !important;
    border-radius: 20px !important;
    margin: 20px !important;
    background-color: #8B2121 !important;
    color: #fff !important;
    font-weight: 600 !important;
}
.Upload-btn{
    width: 20% !important;
    border-radius: 20px !important;
    margin: 20px !important;
    background-color: #5093B9 !important;
    color: #fff !important;
    font-weight: 600 !important;
}